@font-face {
	font-family: 'Goldman', cursive;
	src: url('./assets/font/Goldman-Bold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'Goldman', cursive;
	src: url('./assets/font/Goldman-Regular.ttf');
	font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Goldman', cursive !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

.component-wrapper {
  margin-top: 33rem;
}

@media  (max-width: 710px) {
  .component-wrapper {
    margin: 2rem 0;
  }
}

/************ Navbar Css ************/
.nav-logo {
  color: #ffffff;
  font-size: 50px;
  padding: 0 25px;
}

@media  (max-width: 1915px) {
  .nav-logo {
    font-size: 30px;
  }
}



.resume-nav-bar {
  font-weight: 400;
  color: #ffffff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  text-decoration: none;
}
.resume-nav-bar:hover{
  opacity: 4;
}
.navbar-nav {
  align-items: center;
  display: flex;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  align-items: center;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #222222;

}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 4;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
  background-color: #222831;
}
  .vvd {
    font-size: 18px;
  }

  @media  (max-width: 1195px) {
    .vvd {
    height: 50px;
    font-size: 9px !important;
    }
  }



/************ Banner Css ************/

.stars-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.profile {
  padding: 30px;
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Default font size for larger screens */
.text-responsive {
  font-size: 2rem;
}

/* Adjust font size for medium screens (tablets) */
@media (max-width: 768px) {
  
}

/* Adjust font size for small screens (mobile devices) */
@media (max-width: 480px) {
  .text-responsive {
    font-size: 2rem;
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  color: whitesmoke;
}
/* Contact */
.contact-container {
  background-color: #1c1c1c;
  padding: 5rem 0;
  color: #ffffff;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form-wrapper {
  font-family: 'Goldman', cursive;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
}

.contact-form-wrapper h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form-wrapper input,
.contact-form-wrapper textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #393e46;
  border: none;
  color: #eeeeee;
}

.contact-form-wrapper input::placeholder,
.contact-form-wrapper textarea::placeholder {
  color: #bbbbbb;
}

.contact-form-wrapper textarea {
  min-height: 150px;
  resize: none;
}

.contact-form-wrapper button {
  width: 100%;
  padding: 0.5rem;
  background-color: #2a79b1;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form-wrapper button:hover {
  background-color: #093f66;
}

.email-status {
  margin-top: 1rem;
  text-align: center;
}
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
/************ Tech Css ************/
.tech-icons {

  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgba(152, 189, 248, 0.637) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(3, 86, 144, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons-images {
  max-width: 150px !important;
  max-height: 150px !important;
}

.tech-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: x-large;
}

/* //Projects */

.projects-header {
  text-align: center;
  margin-bottom: 30px;
}

.project-card {
  position: relative;
  overflow: hidden;
  background-color: #1c1c1c;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  animation-name: hoverUpDown;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-content {
  padding: 15px;
}

.project-title {
  margin-top: 0;
  font-weight: bold;
}

.project-description {
  margin-bottom: 10px;
}

.project-technologies {
  font-size: 0.9em;
  color: #777;
}

.project-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #2a79b1;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.project-link:hover {
  background-color: #093f66;
}

.link-project-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

@keyframes hoverUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}


.hover-up-down {
  animation-name: hoverUpDown;
  animation-duration: 3000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* About me */
.about-me {
  padding-top: 1rem;
  margin: 2rem -1rem;
  background-color: #1c1c1c;
}

.about-me h2 {
  text-align: center;
  margin-bottom: rem;
}

.timeline {
  position: relative;
}

.timeline-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-bottom: 15px;

}

.timeline-icon {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.timeline-content {
  padding: 2rem;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  color: white; /* Add this line to make the text readable */
}

.timeline-content .date {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 767px) {
  .about-me {
    margin: 2rem 1rem;
  }

  .timeline {
    padding: 0 1rem;
  }

  .timeline-item {
    flex-direction: column;
    align-items: center;
  }

  .timeline-icon {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .timeline-content {
    padding: 1rem;
    text-align: center;
  }
}

/* Add animations and effects */
.timeline-item:nth-child(even) .timeline-content {
  background: #eaeaea;
  color: #1c1c1c; /* Add this line to make the text readable */
}

.animate__animated {
  opacity: 0;
  visibility: hidden;
}

.animate__animated.animate__fadeIn {
  opacity: 1;
  visibility: visible;
}

button {
  background-color: #2a79b1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  
}


.about-me .subheader {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-style: italic;
}

.about-me .about-me-intro {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Add responsiveness for subheader and paragraph */
@media screen and (max-width: 767px) {
  .about-me .subheader {
    font-size: 1.2rem;
  }
  
  .about-me .about-me-intro {
    font-size: 0.9rem;
  }
}

.projects-container {
  width: 100%;
  background-color: #121212;
}